# Ignore Composer vendor directory
/vendor/

# Ignore token storage
/token/

# Ignore local config
config.php

# Ignore User Configs
/users/

# Optional: ignore logs, environment files, etc.
*.log
.env
